body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: table;
}

.otp-input {
  justify-content: space-between;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}